<div
  class="flex grow flex-wrap md:flex-nowrap"
  style="
    background: url(/images/icons/monitoria.jpg);
    background-color: #e8e8e73e;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-blend-mode: overlay;
  "
>
  <div class="flex items-center justify-center h-full w-full">
    <div
      class="p-8 rounded shadow-md md:w-96 md:m-10"
      style="background-color: #3f3d3d"
    >
      <h2 class="text-2xl font-bold mb-4 text-center" style="color: #e8e8e7">
        Entrar
      </h2>
      <form action="/login" method="post">
        <hr class="mb-4 border-t" />

        <div
          class="flex flex-col items-center md:flex-row md:items-center justify-center space-y-2 md:space-y-0 md:space-x-2"
        >
          <a
            href="/login/google"
            class="flex items-center px-3 py-2 md:px-4 md:py-2 md:w-auto border-1 bg-gray-800 text-white rounded-full hover:bg-gray-900 focus:outline-none focus:bg-gray-900"
            style="background-color: #a5cfce; color: #3f3d3d; font-size: 1.2rem"
          >
            <img
              src="/images/icons/google.png"
              alt="Google"
              width="30"
              height="30"
            />
            Conta acadêmica
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
