<div
  class="flex grow flex-wrap md:flex-nowrap"
  style="background-color: #1f9e9c"
>
  <div
    class="flex flex-col items-center flex-1 h-full justify-center px-4 sm:px-0"
  >
    <div
      class="flex rounded-lg shadow-lg w-full sm:w-3/4 lg:w-1/2 sm:mx-0"
      style="height: 500px; background-color: #3f3d3d; color: #e8e8e7"
    >
      <div class="flex flex-col w-full md:w-1/2 p-4">
        <div class="flex flex-col flex-1 justify-center mb-8">
          <h1 class="text-4xl text-center font-bold">Bem vindo de volta!</h1>
          <p class="text-center mt-2">
            A plataforma que conecta o conhecimento
          </p>
          <div class="w-full mt-4">
            <form
              class="form-horizontal w-3/4 mx-auto"
              method="POST"
              action="#"
            >
              <div
                class="flex flex-col items-center md:flex-row md:items-center justify-center space-y-2 md:space-y-0 md:space-x-2"
              >
                <a
                  href="/login/google"
                  class="flex items-center mt-4 px-3 py-2 md:px-4 md:py-2 md:w-auto border-1 text-white rounded-full hover:bg-gray-900 focus:outline-none focus:bg-gray-900"
                  style="
                    background-color: #a5cfce;

                    color: #3f3d3d;
                    font-size: 1.2rem;
                  "
                >
                  <img
                    src="/images/icons/google.png"
                    alt="Google"
                    width="30"
                    height="30"
                  />
                  Conta acadêmica
                </a>
              </div>
            </form>
            <div class="text-center mt-4"></div>
          </div>
        </div>
      </div>
      <div
        class="hidden md:block md:w-1/2 rounded-r-lg"
        style="
          background: url(/images/icons/monitoria.jpg);
          background-size: cover;
          background-position: center center;
        "
      ></div>
    </div>
  </div>
</div>
